################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tnt.math/v17
/tnt.math/bin/Debug/netstandard2.0
/tnt.math/obj
